<!-- start custom main top snippet -->
<br>
<br>
<br>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
<h3 style="color:grey; font-family: 'Raleway', sans-serif; font-size: 1.25rem;"><i> "A ship in harbor is safe, but that is not what ships are built for."</i>~ John A. Shedd</h3>
<br>
<!-- end custom main top snippet -->
